<template>
  <div>
    <label>
      <h1>
        ตารางสถานะการผ่านเงื่อนไขไปสหกิจ
      </h1>
    </label>

    <b-table
      no-border-collapse
      head-variant="light"
      hover
      :items="statusLists"
      :fields="fields"
    >
    </b-table>
    <div>
      <h4>เกรดเฉลี่ยนิสิต: 4.00</h4>
    </div>
    <br />
    <div>
      <router-link to="/checkgrade">
        <b-button variant="primary" style="margin-right:10px;"
          >แสดงเกรดรายวิชา</b-button
        ></router-link
      >&nbsp;
      <router-link to="/checkhour">
        <b-button variant="secondary">แสดงชั่วโมงอบรม</b-button></router-link
      >
    </div>
  </div>
</template>

<script>
import axios from 'axios'
// eslint-disable-next-line no-unused-vars
import statusService from './StatusService'
export default {
  data () {
    return {
      statusLists: [],
      lastId: 4,
      fields: [
        { key: 'list', label: 'รายการ' },
        { key: 'status', label: 'สถานะการผ่านเงื่อนไข' }
      ]
    }
  },
  methods: {
    getStatuss () {
      axios
        .get('http://localhost:3000/status')
        .then(res => {
          console.log(res)
          this.statusLists = res.data
        })
        .catch(err => {
          console.log(err)
        })
    }
  },
  mounted () {
    console.log('Vue component is mounted.')
    this.getStatuss()
  }
}
</script>
