<template>
  <div>
    <label>
      <h1>
        ตารางชั่วโมงการอบรมของนิสิต
      </h1>
    </label>

    <b-table
      no-border-collapse
      head-variant="light"
      hover
      :items="hourLists"
      :fields="fields"
    >
    </b-table>
    <br />
    <div>
      <router-link to="/checkstatus">
        <b-button variant="secondary" style="margin-right:10px;"
          >ย้อนกลับ</b-button
        ></router-link
      >
    </div>
  </div>
</template>

<script>
import axios from 'axios'
// eslint-disable-next-line no-unused-vars
import hourService from './HourService'
export default {
  data () {
    return {
      hourLists: [],
      lastId: 3,
      fields: [
        { key: 'type', label: 'ประเภท' },
        { key: 'mustCollected', label: 'จำนวนชั่วโมงที่ต้องเก็บ(ชั่วโมง)' },
        { key: 'hoursCollected', label: 'จำนวนชั่วโมงที่เก็บแล้ว(ชั่วโมง)' }
      ]
    }
  },
  methods: {
    getHours () {
      axios
        .get('http://localhost:3000/hours')
        .then(res => {
          console.log(res)
          this.hourLists = res.data
        })
        .catch(err => {
          console.log(err)
        })
    }
  },
  mounted () {
    console.log('Vue component is mounted.')
    this.getHours()
  }
}
</script>
