<template>
  <div>
    <b-nav vertical>
      <b-button-group vertical>
        <b-button variant="light" enable><router-link to="/addprofessor">จัดการอาจารย์</router-link></b-button>
        <b-button variant="light" enable><router-link to="/checkstatus">สถานะสหกิจศึกษา</router-link></b-button>
      </b-button-group>
    </b-nav>
  </div>
</template>
